<style>
    #clock span{
      float: left;
      text-align: center;
      font-size: 84px;
      margin: 0 2.5%;
      color: black;
      padding: 20px;
      width: 20%;
      border-radius: 20px;
      box-sizing: border-box;
    }
    #clock:after{
      content: "";
      display: block;
      clear: both;
    }
    #units span{
      float: left;
      width: 25%;
      text-align: center;
      margin-top: 30px;
      color: #A9A9A9;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      
    }
    
    span.turn{
      animation: turn 1s ease forwards;
    }
    
    @keyframes turn{
      0%{transform: rotateY(360deg)}
      100%{transform: rotateY(0deg)}
    }
        </style>
        <div id="geeks-countdown">
          <div id="clock"></div>
          <div id="units">
            <span>Days</span>
            <span>Hours</span>
            <span>Minutes</span>
            <span>Seconds</span>
          </div>
        </div>
  
        <script type='text/javascript'>
            function updateTimer(deadline){
              var time = deadline - new Date();
              return {
                'days': Math.floor( time/(1000*60*60*24) ),
                'hours': Math.floor( (time/(1000*60*60)) % 24 ),
                'minutes': Math.floor( (time/1000/60) % 60 ),
                'seconds': Math.floor( (time/1000) % 60 ),
                'total' : time
              };
            }
            
            
            function animateClock(span){
              span.className = "turn";
              setTimeout(function(){
                span.className = "";
              },700);
            }
            
            function startTimer(id, deadline){
              var timerInterval = setInterval(function(){
                var clock = document.getElementById(id);
                var timer = updateTimer(deadline);
            
                clock.innerHTML = '<span>' + timer.days + '</span>'
                                + '<span>' + timer.hours + '</span>'
                                + '<span>' + timer.minutes + '</span>'
                                + '<span>' + timer.seconds + '</span>';
            
                //animations
                var spans = clock.getElementsByTagName("span");
                animateClock(spans[3]);
                if(timer.seconds == 59) animateClock(spans[2]);
                if(timer.minutes == 59 && timer.seconds == 59) animateClock(spans[1]);
                if(timer.hours == 23 && timer.minutes == 59 && timer.seconds == 59) animateClock(spans[0]);
            
                //check for end of timer
                if(timer.total < 1){
                  clearInterval(timerInterval);
                  clock.innerHTML = '<span>0</span><span>0</span><span>0</span><span>0</span>';
                }
            
            
              }, 1000);
            }
            
            
            window.onload = function(){
              var deadline = new Date({{ index .Params 0 }});
              startTimer("clock", deadline);
            };
                </script>
